<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/style.css" />
		<title>TODO LISTS</title>
	</head>
	<body>
		<div class="box" id="heading">
			<h1>It is <%= kindOfDay %></h1>
		</div>
		<div class="box">
			<% for (let i=0; i < newItemList.length; i++) { %> <% if
			(newItemList.length < 6) { %>
			<div class="item">
				<input type="checkbox" />
				<p><%= newItemList[i] %></p>
			</div>
			<% } %> <% } %>
			<form class="item" action="/" method="post">
				<input
					type="text"
					name="newItem"
					placeholder="New Item"
					autocomplete="off"
				/>
				<button type="submit" name="button">+</button>
			</form>
		</div>
		<div class="cright"><p>&copy; OrientSplash 2022</p></div>
	</body>
</html>
